#parent {
    position: relative;
    display: grid;
}

#navBarinSub {
    display: block;
    height: 50px;
    width: 100vw;


}
#sideMenu {
    display: inline-block;
    height: 100vh;
    width: 30vw;
}


ol, ul {
    padding-left: 0rem;
}

.sidebar {
    padding: 40px 0 0 0;
}