@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
body{
    background-color: #FFFFFF;
    margin: 0;
    overflow:hidden ;

}
:root {
    --mainColor: #3a0247;
    --secondColor: #D0AFF4;
    --mainGradient: linear-gradient(94.56deg, #6C429C 0%, #7D56AA 100%);
}
.admin_main{
    margin-left: 242px;
    position: absolute;
    background-color: #FFFFFF;
    width: 84%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: auto;
    top: 100px;
  
    

}



/* table*/
.details_table{
    width: 85%;
    border-radius: .5rem;
    font-size: 0.9rem;
    margin-top: 30px;
    background-color: #ffffff;
    box-shadow: 0px 1px 5px grey;
    display: block;
    max-height: 500px;
    overflow-y: auto;
}
.details_table::-webkit-scrollbar{
    width: 0px;
}

.details_table thead th{
    
    background-color: var(--mainColor);
    color: white;
    padding: 1rem;
    

}
.details_table th:nth-child(2),td:nth-child(2){
    width: 300px;
}
.details_table th:nth-child(3),td:nth-child(3){
    width: 350px;
}
.details_table th:nth-child(4),td:nth-child(4){
    width: 400px;
}
.details_table th,td {

    padding: 8px;
    border-radius: .5rem;
    margin-top: 5px;
    padding: 1%;
    padding-right: 15px;
    text-align: center;


}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.details_table .action_buttons {
    display:flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    border-right: none;
    padding-left: 20px;
    padding-right: 20px;
}
.details_table .action_buttons a {
    text-decoration: none;
    /*color: #FFFFFF;*/
    color: #FFFFFF;
    padding-right: 2px;
}
.btn {
    display: flex;
    border-radius: 5px;
    flex-direction: row;
    padding: 5px;
    gap: 5px;
    justify-content: center;
    align-content: center;
    box-shadow: 0px 1px 5px grey;
}
.details_table .action_buttons .btn_more{
    background: #087229;
 
}
.details_table .action_buttons .btn_delete{
    background: #ab212d;
}
.details_table .action_buttons .btn_update{
    background: #514fcd;

}


/* search */
.search_add .add-btn{
    color: var(--mainColor);
    margin-left: 20%;

}
.add-btn{
    border: 2px solid var(--mainColor);
    color: var(--mainColor);
    background-color: #FFFFFF;
    padding: 1%;
    border-radius: 5px;
    

}
.search_add {
    display: flex;
    box-shadow: 0px 1px 5px grey;
    width: 85%;
    align-items: center;
    padding: 20px;
    border-radius: 10px;

}
.search_add a{
    text-decoration: none;
    font-family: 'Poppins';
    font-size: 15px;
    color: #FFFFFF;
    flex-basis: 200px;
    text-align: center;

}

.search {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins';
    
}
.search_customers{
    left: 0;
    font-family: 'Poppins';
    font-size: 17px;
    font-weight: 400;
    flex-basis: 30%;

}
.search input[type=search]{
    padding: 1.5%;
    border-radius: 5px;
    width: 350px;
    border: 1px solid black;
    font-size: 15px;

}

.search i{
    position: absolute;
    left: 48%;
    padding: 10px;
    min-width: 50px;
    text-align: center;
    color: var(--mainColor);

}
.search .btn_search {
    border: none;
    font-size: 15px;
    border: 2px solid var(--mainColor);
    color: var(--mainColor);
    background-color: #fff;
    padding: 1.5%;
    border-radius: 5px;

}
.btn_search:hover,.add-btn:hover{
    cursor: pointer;
    background-color: var(--mainColor);
    color: white;
}


.btn_new {
    border: 2px solid var(--mainColor);
    color: var(--mainColor);
    background-color: #fff;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border-radius: .5rem;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
}

/*  dashboard */
.users_summary {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
    font-size: 20px;
    width: 60vw;
    border-radius: 15px;

}
.users_summary .summary_heading{
    margin-left: 20px;
} 
.users_summary .summary_boxes{
    display: flex;
    flex-direction: row;
    padding: 15px;
    width: 58vw;
    justify-content: space-evenly;
} 
.users_summary .summary_boxes a {
    text-decoration: none;
    color: black;
}
.summary_boxes .summary_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 0.5px 3px grey;
    width: 160px;
    font-size: 60px;
    height: 140px;

   
}
.summary_boxes .customers_num {
    display: flex;
    flex-direction: row;
}
.summary_boxes p{
    font-size: 15px;
    margin-top: 0;
    width: 130px;
    margin-left: 20px;
    font-weight: 500;

}
.summary_box .customers_num .d_icon {

    margin-left: 20px;
    padding: 0;
    height: 70px;
}   

.summary_box .d_icon img {
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
}
/* background blur */
.blur_bg{
    position: absolute;
    top: -5%;
    left: 0px;
    width: 100%;
    height: 89.5vh;
    background-color: rgba(0,0,0, 0.4);
    z-index: -1;
    backdrop-filter: blur(2px);
    opacity: 0;
    transition:all 0.5s ease-in-out;
}



/* Add Form */
.add-form {
    width: 700px;
    padding: 2%;
    z-index: -1;
    position: absolute;
    background-color: #f2f2f2;
    border-radius: 10px;
    border: 1px solid var(--mainColor);
    opacity: 0;
    transition:all 0.5s ease-in-out;

}
.add-form span:nth-child(1){
    display: flex;
    flex-direction: row;
    
    align-items: center;
    justify-content: space-between;
}
.add-form label {
    font-size: 20px;
    font-weight: 600;
}
.add-form i{
    font-size: 25px;
}
.add-form form .info-box{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}

.add-form .info-box .box{
    display: flex;
    flex-direction: row;
    padding: 2%;
}

    
.add-form .info-box .box span{
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    
}
.add-form .info-box .box input{
    padding: 0.5rem;
    width: 70%;
    border-radius: 5px;
    border: 1px solid var(--mainColor);

    
}
.add-form .add-btn{
    padding: 2%;
    margin-top: 2%;

}


/* display show class */
.show {
    display: block;
    
}

/* chart */
.charts_area{
    width: 700px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.pie {
    
    width: 150px;
}
.bar {
    width: 450px;
}
#pieChart{
    width: 150px;
}
#barChart {
    width: 300px;
}
.error-text{
    color: red;
    font-size: 15px;
    font-weight: 600;
    display: none;
}
.success {
    color: #00a300;
    font-size: 15px;
    font-weight: bold;
    margin-top: 2%;
}
.error {
    color: red;
    font-size: 15px;
}
.customer_info {
    width: 100%;
    /* border: 1px solid black; */
}
.content,
.fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    /* border: 1px solid black; */
}
.content {
    margin-top: 5%;
    border-radius: 15px;
    /* border: 1px solid black; */
    border: 1px solid rgb(138, 138, 138);
    box-shadow: 0px 0.5px 3px grey;
    padding: 10px;
    
}
.flex-row{
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 10px;

}
.input-group {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.input-group label {
    margin-top: 5px;
    margin-bottom: 5px;
}
.input-group input{
    width: 100%;
    padding: 3px;
}
.img-grp{
    width: 40%;
    /* border: 1px solid black; */
}
.img-grp img{
    width: 300px;
    border-radius: 10px;
}
.reset_pwd {
margin-top: 30%;
    width: 50%;
}
.report_main{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 350px 50px;
    column-gap: 1% ;
    max-height: 100%;
}

.report_main > div {
    border: 1px solid black;
}

.report_item3 {
    grid-column: 1/ span 1;
    grid-row: 1/ span 2;
}

/* .report_item1,
.report_item2 {
    grid-column: 2/span 2;
} */

#dataForm {
    padding: 5%;
}

.contact-form-div{
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    width: 40%;
    margin-top: 15px;
    margin-bottom: 35px;
    padding: 15px;
    padding-bottom: 5px;

    border: 1px solid rgba(0,0,0, 0.2);
    border-radius: 10px;
    box-shadow: 0px 0.5px 3px grey;

    
    
    
}

.contact-form {
    /* border: 1px solid black; */
    color: #460057;
    

}
/* .form-in {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    /* border: 1px solid black; 

} */
.row-start{
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
    width: 100%;

}

.single-row {

    width: 100%;
    /* border: 1px solid black; */
    /* border: 1px solid black; */
}
.contact-form .input-group input{
    /* border: 1px solid #460057; */
    border: 1px solid rgb(102, 102, 102);
    font-size: 14px;
    width: 95%;
    height: 90%;
    padding: 5px;
    border-radius: 8px;
    
    
}
.contact-form .input-group textarea{
    border: 1px solid #460057;
    padding: 5px;
    border-radius: 8px;
    resize: none;
    /* border: 1px solid black; */

}
.single-row .input-group input,
.single-row .input-group textarea {
    width: 96.5%;
    
}
.input-group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    /* border: 1px solid black; */
    /* padding: 5px; */
    padding: 0;
    padding-left: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;

}
.single-row .input-group {
    width: 100%;
    /* border: 1px solid black; */
}
.contact-form .input-group label {
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 5px;
}
.about{
    margin: auto;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
}
.about-image img{
    width: 50% ;
    margin: 30px;
}
.about-descrip{
    width: 90%;
    padding: 20px;
    text-align: justify;
}
.contact-form .input-group .btn-submit {
    width: 20%;
    height: auto;
    border: 2px solid #460057;
    color: #460057;
    background-color: #FFFFFF;
    padding: 1%;
    border-radius: 5px;
    
}
.contact-form .input-group .btn-submit:hover{
    cursor: pointer;
}
.contact-form .submit_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.close_div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.container-profile {

    height: 90%;
}
.container-profile h3 {
    margin-left: 2%;
}

@media (max-width:1240px) {
    .container-profile {
        margin-left: 60px;
    }
}

.flex-container-profile {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 95%;
    font-size: 14px;
}

.about {
    flex: 0.8;
    margin: 1.3rem;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
    /* width: 100px; */
    border-radius: .5rem;
}

.other {
    
    display: flex;
    flex-direction: column;
    flex-basis: 60%;

}

.info {
    flex: 70%;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
    margin: 1.3rem;
    margin-left: 0.4rem;
    border-radius: .5rem;
}

.p-s-info {
    flex: 30%;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
    margin: 1.3rem;
    margin-left: 0.4rem;
    margin-top: 0.4rem;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 10px;
}

 .image {
    margin: auto;
    margin-top: 20px;
    flex-basis: 60%;
    
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

}

.image img {
    width: 60%;
    border-radius: 0.7rem;
    object-fit: cover;
}

.social-media {
    margin: 20px;
    margin-left: 10%;
}

.profile-bio {
    margin: auto;
    width: 80%;

}

.profile-name {
    text-align: center;
    font-weight: bolder;
    font-size: 15px;
}

.profile-role {
    text-align: center;
    color: rgb(134, 134, 134);
}

.sm-all {
    display: flex;
    flex-direction: row;
    border-bottom: 1px rgb(224, 224, 224) solid;
    margin: 13px;
}

.sm-logo {
    flex: 10%;
}

.sm-logo img {
    width: 20px;
}

.sm-name {
    flex: 30%;
}

.sm-link {
    flex: 50%;
    text-align: left;
}

.personal-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.prof-all {
    display: flex;
    flex-direction: row;
    width: 70%;
    border-bottom: 1px rgb(238, 238, 238) solid;
    margin: 13px;
    margin-bottom: 2%;

}

.prof-name {
    flex: 20%;
}

.prof-name-50 {
    flex: 50%;
}

.prof-data {
    flex: 60%;
    text-align: justify;
}
.prof-feedback {
    flex: 60%;
    text-align: justify;
    background-color: #f2f2f2;
    border-radius: 0.5rem;
    padding: 10px;
    margin: 2px;
    
}

.personal-info-heading {
    font-weight: bold;
    font-size: 15px;
    color: #490258;
    margin: 10px;
    padding: 4px;
    padding-left: 6px;
    text-align: center;
    border-radius: .5rem;
    background: rgb(226, 226, 226);
    color: #490258;
    width: 30%;
}

@media (max-width: 1200px) {
    .sm-name {
        /* display: none; */
    }
}

@media (max-width: 1000px) {
    .container-profile {
        margin-left: 60px;
        height: 90%;
        overflow-x: hidden;
    }

    .flex-container-profile {
        display: flex;
        flex-direction: column;
        height: 1000px;
    }

    .image {
        /* height: 30%; */
    }

    .about {
        display: flex;
        flex-direction: column;
        flex-basis: 80%;

        width: 80%;
        margin: auto;
        margin-top: 6%;
    }

    .sm-name {
        /* display: none; */
    }

    .info {
        width: 90%;
        margin: auto;
        margin-top: 6%;
    }

    .profile-bio {
        width: 100%;
    }

    .personal-info-heading {
        width: 90%;
    }
}


.tag {
    display: inline-block;
    border-radius: 3px;
    padding: .2em .5em .3em;
    border-radius: 2px;
    background: var(--tag-bg);
    color: var(--text-color);
    font-weight: 600;
    margin: .25em .1em
}

.tag-sm {
    font-size: .7em;
    display: inline-block;
    letter-spacing: .15ch;
}

.tag-lg {
    border-radius: 4px;
    font-weight: bold;
    background: rgb(226, 226, 226);
    color: #490258;
}

.starChecked {
    color: orange;
}
img#about-img{
    width: 250px;
    height: 150px;
}
.personal-info-heading-avail {
    font-weight: bold;
    font-size: 15px;
    margin: 10px;
    padding: 4px;
    padding-left: 6px;
    text-align: center;
    width: 30%;
}
.available {
    color: #ffffff;
    background-color: #024b18;
    border: none;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border-radius: 0.5rem;
    padding: 5px 2rem;
}
.actionBtn#avail{
    margin-top: 0px;
    margin: 0px;
}
.other#quote {
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
}
.personal-info#quote{
    margin-bottom: 0px;
}
.personal-info#quoteb{
    margin-top: 0px;
}
i#qu-con{
    margin-right: 10px;
}
i#qu-conm{
    margin-left: 20px;
    margin-right: 10px;
}
i#qu-conme{
    margin-left: 20px;
    margin-right: 1px;
}
.prof-name-20{
    flex: 20%;
}
.contact{
    flex: 80%;
}
.prof-data-80{
    flex: 80%;
}
.prof-data#urg{
    color: rgb(255, 0, 0);
}

.profile_main{
    margin-top: 10%;
    position: absolute;
}
.buttons{
    margin-top: 5%;
}