/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} */

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #999;
}

body {
    font-family: 'Nunito';
    background: #FAFAFA;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
}

:root {
    --mainColor: #3a0247;
    --mainGradient: linear-gradient(94.56deg, #6C429C 0%, #7D56AA 100%);
}

hr {
    border: 0.5px solid var(--mainColor);
}

.new-button-container {
    display: flex;
    /* justify-content: flex-end; */
    width: 99%;
    padding-left: 10px;
}

.new-button-container .add-new-button {
    padding: .5em 1rem;
    font-weight: 500;
    background-color: var(--mainColor);
    border-radius: .5rem;
    color: #fff;
    border: 0;
    cursor: pointer;
    align-self: flex-end;
    text-decoration: none;
}

/********* For grid view *********/

.grid-container-payments {
    margin-left: 240px;
    transition: all 0.5s ease;
}

.gridHeader {
    grid-area: header;
    font-weight: 1000;
    color: var(--mainColor);
    padding: 1rem;
    padding-top: 1rem;
}

.gridMenu {
    grid-area: menu;
    max-width: 20vw;
    border-radius: 0.5rem;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
    background: linear-gradient(164.61deg, #D0AFF4 0%, #DFCDF3 100%);
}

.gridSearch,
.gridMain {
    border-radius: 0.5rem;
    margin: 0 1vw;
    padding: 0.2vh 1vw;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
}

.gridSearch {
    grid-area: search;
    /* background-color: var(--mainColor); */
}

.gridMain {
    grid-area: main;
}

.grid-container-payments {
    display: grid;
    grid-template-areas:
        'search'
        'main';
    gap: 10px;
    padding: 10px 0 10px 20px;
}

.grid-container-profile {
    display: grid;
    grid-template-areas:
        'menu header header header header header'
        'menu main main main main main'
        'menu main main main main main';
    gap: 10px;
    padding: 10px;
    padding-left: 20px;
    transition: all 0.5s ease;
}

.main-body {
    margin-left: 240px;
    display: flex;
    justify-content: center;
    transition: all 0.5s ease;
}

.no-records {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-top: 20px;
    color: #666666;
}

.no-records img {
    height: 250px;
}


/********* Table *********/
table {
    /* border-collapse: collapse; */
    width: 100%;
    border-radius: .5rem;
    font-size: 14px;
}

th {
    /* background-color: var(--mainColor); */
    background-color: var(--mainColor);
    color: white;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
}

th,
td {
    padding: 10px 5px;
    border-radius: .5rem;
    position: relative;
}

tr {
    cursor: pointer;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.ep-table tr:hover {
    background-color: #DFCDF3;
}

.tCenter {
    text-align: center;
}

table tr td ul {
    position: absolute;
    display: none;
    width: 150px;
    top: 20px;
    right: 10px;
    margin: 0;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: .5rem;
    z-index: 100;
    list-style-type: none;
}

table tr td ul li a,
table tr td ul li button {
    padding: 7px;
    display: block;
    text-decoration: none;
    border-radius: .5rem;
    color: #555;
    font-size: 12px;
    background-color: #fff;
    border: none;
    width: 100%;
}

table tr td ul li a.destructive:hover,
table tr td ul li button.destructive:hover {
    background-color: #d92800;
}

table tr td ul li a:hover,
table tr td ul li button:hover {
    background-color: #3a0247;
    color: white;
}

table tr td.menu:hover ul,
table tr td.menu:focus ul {
    display: block;
}

/********* Search Section *********/
.searchSec {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding: 0.5vh 1vw;
    position: relative;
    justify-content: start;
}

.input-container {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    width: 240px;
    /*border: 0.5px solid var(--mainColor);*/
    background-color: rgb(231, 231, 231);
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    padding-left: 0.5rem;
    margin: 5px 0;
}

.searchSec .input-field {
    padding: 0 12px;
}

.page-title {
    flex-grow: 1;
    font-size: 18px;
    font-weight: 900px;
    font-weight: 700;
    color: #3a0247;
}

.icon {
    padding: 10px;
    min-width: 50px;
    text-align: center;
    color: var(--mainColor);
}

.input-field {
    width: 100%;
    padding: 0.5rem;
    outline: none !important;
    border: 0 !important;
    background-color: rgb(231, 231, 231);
}

.srcButton {
    border: 2px solid var(--mainColor);
    color: var(--mainColor);
    background-color: #fff;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border-radius: .5rem;
    padding: 5px 1rem;
    margin-left: 1rem;
    /* opacity: 0.9; */
}

.srcButton:hover {
    /* opacity: 1; */
    background-color: var(--mainColor);
    color: white;
}

/* .input-field:focus {
    border: solid var(--mainColor);
    border-width: 2px 0 2px 2px ;
} */


/********* Forms *********/
input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 5px 0;
    display: inline-block;
}

/* input[type=submit] {
    background: var(--mainGradient);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1.3rem;
    margin: 0.8rem;
    margin-left: 0;
} */

.col-30 {
    float: left;
    width: 30%;
    margin-top: 6px;
    padding-left: 2vw;
    padding-right: 2vw;
}

.col-50 {
    float: left;
    width: 40%;
    margin-top: 6px;
    padding-left: 2vw;
    padding-right: 2vw;
}

.row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;

}

.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {

    .col-50,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

/********* Popup Modal *********/
/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 100;
    /* Sit on top */
    padding-top: 10vh;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-decline {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 30%;
    /* height: 20%; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 60%;
    height: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    /* color: #000; */
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: .5rem 1rem;
    /* height: 5vh; */
    background: var(--mainColor);
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
}

.modal-body {
    max-height: 90%;
    width: 100%;
    overflow-y: auto;
}

.modal-body form {
    width: 100%;
}

.modal-body .decline-reason {
    width: 100%;
    padding: 1rem;
    border: 1px solid #ccc;
    text-align: center;
}

.modal-body .decline-reason #formErrors {
    color: red;
    font-size: .9rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
}

.modal-footer {
    padding: 2px 16px;
    background-color: var(--mainColor);
    color: white;
}


.actionBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 10px;
    gap: 20px;
}

.actionBtn .accepted {
    background: #490258;
    color: #fff;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border-radius: .5rem;
    padding: 5px 2rem;
}

.actionBtn .accepted:hover,
.actionBtn .rejected:hover {
    opacity: 0.8;
}

.actionBtn .rejected {
    background: #fff;
    color: #490258;
    border: 2px solid #490258;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border-radius: .5rem;
    padding: 5px 2rem;
}

/********* Profile *********/
.paddingLeft-1 {
    padding-left: 1vw;
}

.paddingLeft-2 {
    padding-left: 2vw;
}

.profilePic {
    width: 8vw;
    height: 8vw;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
}

.eventList {
    margin: 0;
    padding: 0;
}

.eventList li {
    list-style: none;
}

.success-message {
    font-size: 14px;
    font-weight: 500;
    padding: 15px;
    color: #fff;
    background-color: green;
    text-align: center;
}

.no-packages {
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
    padding: 1rem;
    width: 100%;
}

@media (max-width:1240px) {
    .grid-container-payments {
        margin-left: 60px;
    }

    .grid-container-profile {
        margin-left: 60px;
    }

    .main-body {
        margin-left: 60px;
    }
}

.clickable {
    cursor: pointer;
}

.fa-solid {
    color: orange;
}


/********* Tabs *********/
/* Style the tab */
.tab {
    overflow: hidden;
    /* border: 1px solid #ccc; */
    background-color: #fff;
    border-radius: 10px;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: 1px solid #ccc;
    outline: none;
    cursor: pointer;
    padding: 8px 16px;
    transition: 0.3s;
    font-size: 17px;
    border-radius: 10px;
    margin: 10px 5px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: var(--mainColor);
    color: white;
    border-radius: 10px;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    /* border: 1px solid #ccc; */
    border-top: none;
}

/* Quotation count in request view page */
.quotation-count {
    /* background: #eeeeee; */
    color: #490258;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 10px;
    margin-left: 20px;
    border-radius: 5px;
    /* text-align: center; */
}

/* Find supplier button in request view page */
.btnFindSupplier {
    margin: 0;
}

.btnFindSupplier a {
    text-decoration: none;
}