img.mySlides {
    height: 230px;
    width: 250px;
}

.image {
    background-image: none;
}

.display-left,
.display-right {
    background-color: #490258;
    width: 20px;
    border-radius: 5px;
    color: white;
    border: none;
    margin: 10px;
}

.display-right {
    float: right;
}

.product-title {
    margin: auto;
    width: 80%;
    margin-top: 10px;
}

.product-name {
    /* text-align: center; */
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-size: 15px;
    /* margin: 0; */
    width: 100%;
}

.product-cat {
    text-align: center;
    color: rgb(134, 134, 134);
}

.product-descript {
    margin: 20px;
    /* margin-left: 10%; */
    text-align: justify;
}

.sm-all-p {
    display: flex;
    flex-direction: row;
    margin: 13px;
}

#custom-button-me {
    padding: 5px;
    color: rgb(0, 26, 255);
    text-decoration: underline;
    background-color: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    border: none;
}

.prof-all-p {
    display: flex;
    flex-direction: column;
    margin: 13px;
}

.prof-name-p {
    flex: 30%;
    border-bottom: 1px rgb(238, 238, 238) solid;
    border-width: 50%;
    font-weight: bold;
}

.prof-all-e {
    display: flex;
    flex-direction: row;
    margin: 13px;
}

.prof-all-e button {
    flex: 1;

}

.custom-button-e {
    padding: 5px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    border: none;
    margin: 5px;
}

#ed {
    background-color: #490258;
    width: 50%;
}
a#ed{
    text-decoration: none;
    text-align: center;
}

#del {
    border: #490258 solid 1px;
    color: #490258;
}

.custom-button-e#ed:hover {
    background-color: #0a0a0a;
}

.custom-button-e#del:hover {
    background-color: #050505;
    border: #050505 solid 1px;
    color: white;
}

.product-info-heading {
    font-weight: bold;
    font-size: 15px;
    color: #490258;
    border-bottom: #490258 2px solid;
    /* background-color: #490258; */
    /* border-radius: 0.5rem; */
    margin: 10px;
    /* width: 30%; */
    padding: 4px;
    padding-left: 6px;
    text-align: center;
}

.ps-images {
    margin: auto;
    margin-top: 30px;
    width: 70%;
    height: 50%;
    background-size: cover;
    border-radius: 0.7rem;
}

.ps-images .image  {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
}

.ps-images img {
    width: 100%;
    height: 100%;
    border-radius: 0.7rem;
    object-fit: cover;
}