@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.headAll {
    box-sizing: border-box;
    margin-left: 240px;
    border: none;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    overflow-x: hidden;
    text-decoration: none;
    background-color: #fff;
    transition: all 0.5s ease;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
}

:root {
    --mainColor: #490258;

}

::selection {
    background: var(--mainColor);
    color: #fff;
}

.header-2 {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
    padding: 1vh 2vw;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%);
    position: relative;
    z-index: 99;
}

.header-2 .navbar {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-end;
}

.header-2 .navbar a {
    padding-bottom: 0.1rem;
    color: var(--mainColor);
    text-decoration: none;
    margin: 0.5rem;
    margin-left: 3rem;
    border-bottom: white 2px solid;
}

.header-2 .navbar a:hover {
    border-bottom: var(--mainColor) 2px solid;
}

.header-2 .requests-sum  a{
    text-decoration: none;
    color: var(--mainColor);
}

.header-2 .icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 3rem;
    padding-bottom: 3px;
}

.header-2 .icons a {
    color: var(--mainColor);
    padding-right: 1rem;
    text-decoration: none;
}

.header-2 .header-2-logo {
    width: 5rem;
    color: var(--mainColor);
    font-weight: bolder;
    text-decoration: none;
    padding-right: 20px;
}

#menu-bar {
    font-size: 1rem;
    border-radius: .5rem;
    border: .1rem solid var(--mainColor);
    padding: .8rem 1rem;
    cursor: pointer;
    color: var(--mainColor);
    display: none;
}

/* ----------------- media query start -----------------  */

@media (max-width:1240px) {
    .headAll {
        margin-left: 60px;
    }
}

@media (max-width:991px) {}

@media (max-width:850px) {

    #profile-name,
    #nav-logo,
    .header-2,
    .header-2 .navbar {
        display: none;
    }

    #menu-bar {
        display: initial;
        top: 1rem;
        right: 1rem;
        position: absolute;
        z-index: 999;
    }

    .header-2.active,
    .header-2 .navbar.active {
        display: block;
    }

    .header-2 .navbar a {
        font-size: 1.3rem;
        display: block;
        text-align: center;
        /* padding: 1rem; */
        margin: .5rem 5rem;
        flex-wrap: 1;

    }
}

@media (max-width:768px) {}

@media(max-width:450px) {}