/********* Request quotation from a supplier *********/

body {
    background-color: #fff !important;
}

.quotation-body {
    margin: 20px;
    margin-left: 260px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: .5rem;
    padding: 0.2vh 50px 50px;
}

.row .input {
    /* width: 50%; */
    padding: 0 10px;
}

.row .input .input-label span {
    color: #f00;
}

.action {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.action-button {
    font: inherit;
    font-size: 1.25rem;
    padding: .5em;
    width: 60%;
    font-weight: 500;
    background-color: #3a0247;
    border-radius: .5rem;
    color: #fff;
    border: 0;
    cursor: pointer;
}

.action-button:hover {
    opacity: 0.8;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
}

.action-button:focus {
    outline: 0;
}

.container-profile {
    margin-left: 240px;
    height: 90%;
}

.flex-container-addps {
    height: 100%;
    width: 98%;
    font-size: 15px;
}

.grid-main {
    border-radius: 0.5rem;
    margin: 20px;
    margin-top: 0px;
    padding: 1vw;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
}

.add-ps {
    margin: auto;
    width: 70%;
}

.ps-form-title {
    margin: 10px;
    margin-left: 0px;
    font-size: 20px;
}

.input-ps-label {
    /* margin: 20px; */
    margin-left: 0px;
    color: black;
    padding: 10px 12px 5px 5px;
}

.input-ps-label-opt {
    /* margin: 20px;
    margin-left: 5px; */
    font-size: 14px;
}

.input-ps-in {
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
    width: 100%;
    background-color: #f9f9f9;
    border: 1px solid #e5e5e5;
    border-radius: 3px;

}

button.submit {
    width: 100%;
    padding: 10px;
    color: white;
    background-color: #1f0027;
    border: 1px solid #1f0027;
    border-radius: 5px;
    cursor: pointer;
}

textarea.input-ps-in {
    height: 100px;
    color: rgb(196, 194, 194);
    margin-bottom: 0px;
}

.title-search {
    flex: 90%;
    border-radius: 0.5rem;
    height: fit-content;
    margin: 20px;
    margin-bottom: 15px;
    padding: 1vw;
    box-shadow: 0 1px 10px 0 rgb(0 0 0 / 20%);
    font-size: 1.3rem;
}

h4 {
    color: #490258;
}

.container {
    width: 80%;
    padding: 1em 3em 2em 3em;
    margin-left: 240px;
    border-radius: 4.2px;
}

.row {
    zoom: 1;
}

/* .row:before,
.row:after {
    content: "";
    display: table;
} */

/* .row:after {
    clear: both;
} */

.col-half {
    padding-right: 10px;
    float: left;
    width: 50%;
}

.col-half:last-of-type {
    padding-right: 0;
}

.col-third {
    padding-right: 10px;
    float: left;
    width: 33.33333333%;
}

.col-third:last-of-type {
    padding-right: 0;
}

@media only screen and (max-width: 540px) {
    .col-half {
        width: 100%;
        padding-right: 0;
    }
}

.input-ps#check {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.input-ps-label#check {
    margin: 0px;
}

input#type-venue {
    background: rgb(196, 71, 71);
}

.check-bx {
    /* display flex and move extra elements to the next line */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.check-bx-opt {
    margin: 0 10px 0 5px;
}

.row#check {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.input-ps {
    flex: 50%;
}

.input-ps#check {
    margin-top: 10px;
    /* display: flex; */
    /* flex-direction: column; */
    border: 1px solid rgb(230, 230, 230);
    /* padding: 10px; */
    padding-left: 30px;
    box-sizing: border-box;
    height: 125px;
}

label.input-ps-label-opt {
    color: rgb(90, 90, 90);
}

.drop_box {
    margin: 10px 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px dotted #a3a3a3;
    border-radius: 5px;
}

.drop_box h4 {
    font-weight: 400;
    color: #2e2e2e;
}

.drop_box p {
    margin-bottom: 5px;
    font-size: 12px;
    color: #a3a3a3;
}

.btn {
    text-decoration: none;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    outline: none;
    transition: 0.3s;
}

.card {
    margin-top: 20px;
}

.card#upload {
    margin-top: 5px;
}

.btn:hover {
    text-decoration: none;
    background-color: #ffffff;
    color: #005af0;
    padding: 10px 20px;
    border: none;
}

.form input {
    margin: 10px 0;
    width: 100%;
    background-color: #e2e2e2;
    border: none;
    outline: none;
    padding: 12px 20px;
    border-radius: 4px;
}

select#type {
    width: 100%;
    background-color: #f9f9f9;
    border: 1px solid #e5e5e5;
    padding: 5px;
}