/********* Signup - EventPlanner *********/

body {
    margin: 0;
    background-color: #3a0247;
}

.headAll {
    margin-left: 0 !important;
}

.register-body {
    margin: 0 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    text-align: center;
    font-size: 24px;
    font-weight: 900;
    color: #3a0247;
    margin: 20px 10% 0 10%;
    border-bottom: #3a0247 2px solid;
}

.register-form {
    width: 720px;
    padding: 0 50px 50px;
    background-color: #fff;
    border-radius: .5rem;
    margin-top: 1rem;
    margin-bottom: 80px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    font-size: 14px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0;
}

.row .input {
    width: 46%;
}

.row .input.full {
    width: 100%;
}

.register-form .input {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    padding-top: 1.5rem;
    margin-top: 1rem;
}

.register-form .input-label {
    color: #8597a3;
    position: absolute;
    top: 1.5rem;
    transition: 0.25s ease;
}

.register-form .input-field {
    border: 0;
    z-index: 1;
    background-color: transparent;
    border-bottom: 2px solid #eee;
    font: inherit;
    /* font-size: 1.125rem; */
    padding: 0.25rem 0 0.25rem .5rem;
}

.register-form .input-field:focus,
.register-form .input-field:valid {
    outline: 0;
    border-bottom-color: #3a0247;
}

.register-form .input-field:focus+.input-label,
.register-form .input-field:valid+.input-label {
    color: #3a0247;
    transform: translateY(-1.5rem);
}

.register-form .input-field:focus+.input-label span,
.register-form .input-field:valid+.input-label span {
    color: #f00;
}

.register-form .action {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.register-form .action-button {
    font: inherit;
    font-size: 1rem;
    padding: .5em;
    width: 30%;
    font-weight: 500;
    background-color: #3a0247;
    border-radius: .5rem;
    color: #fff;
    border: 0;
    cursor: pointer;
}

.register-form .action-button:hover {
    opacity: 0.8;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
}

.register-form .action-button:focus {
    outline: 0;
}

.login-card-info {
    padding: 1rem 1rem;
    text-align: center;
    font-size: 0.875rem;
    color: #8597a3;
}

.login-card-info a {
    display: block;
    color: #3a0247;
    text-decoration: none;
}

.signupError {
    /* show error in the bottom of the input */
    position: absolute;
    top: 3rem;
    font-size: 11px;
    margin-top: 8px;
    color: red;
}

.signupTopError {
    /* show error in the top of form */
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
    color: red;
    text-align: center;
}

.otp_row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px 0;
}

.otp_row .input {
    justify-content: center;
}

.otp_row .input .input-field,
.otp_row .input .input-label {
    /* type text center */
    text-align: center;
    width: 100%;

}

.form-description {
    margin-top: 20px;
    font-size: 14px;
    color: #8597a3;
    text-align: center;
}