body{
    margin: 0;
    font-family: 'Poppins';
}
html {
    scroll-behavior: smooth;
}

nav {
    width: 17%;
    position: fixed;
    background-color: #d0aff5;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    

}
    
nav a{
    color: #000;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Poppins';
    width: 77%;
    padding: 15px;
    margin-left: 30px;
    font-weight: 400;

}

nav a:first-child:hover{
    background-color:#d0aff5 ;
}
nav a:hover{
    background-color: #b17bef;
    border-radius: 30px 0 0 30px;
}
nav a:active{
    background-color: #6C429C;
}

nav .menu_logo{
    width: 100px;
    height: 76px;
    padding-left: 15%;
    margin-bottom: 5%;
    
}

nav .m_logo:hover{
    background-color: #d0aff5;
    cursor: pointer;

}
/* header */
.header{
    height: 75px;
    background-color: #FFFFFF;
    width: 83%;
    box-shadow: 0px 1px 5px grey ;
    margin-left: 17%;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
    position: fixed;

}
.top_header{
    width: 100%;
    justify-content: space-between;
}
.details {
    
    flex-basis: 20%;
    justify-content: space-around;
    height: 100%;

}
.menu{
    flex-basis: 70%;
    
    
} 
.menu ul {
    width: 100%;
    font-size: 18px;
    justify-content: space-around;
    font-weight: bold;
    
}
.menu ul li {
    list-style: none;
}
.menu ul li a{
    text-decoration: none;
}
.flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}



.dropdown_content {
    position: absolute;
    background-color: #b17bef;
    display: none;
    right: 60px;
    top: 50px;
    box-shadow: 0px 1px 5px grey;
    border-radius: 10px;



}
.dropdown_content span:first-child{
    border-radius: 10px 10px 0px 0px;
}
.dropdown_content span:last-child{
    border-radius: 0px 0px 10px 10px;
}

.dropdown_content .dropdown_element {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all .5s ease;

}
.dropdown_content img {
    width: 20px;
    height: 20px;
    margin-left: 10px;

}
.dropdown_content a{
    text-decoration: none;
    color: #FFFFFF;
    padding-left: 2px;
    padding: 5px;
    width: 150px;
    text-align: center;
    
}
.details:hover {
    cursor: pointer;
}

.details:hover .dropdown_content {
    z-index: 1;
    display: flex;
    flex-direction: column;


}
.dropdown_content .dropdown_element:hover {
    background-color: #8C1BAB;
}

.user_logo {
    width: 35px;
    height: 35px;
}

main{
    position: absolute;
    width: 83%;
    margin-left: 17%;
    margin-top: 1%;

}
section {
    height: 82vh;
    border: 1px solid grey;
    padding-top: 5%;
    padding: 5%;
}
.profile {
    
    justify-content: center;
    align-items: center;
}


.profile-form {
    border: 1px solid black;
    border-radius: 10px;
    gap: 50px;
    padding: 3%;
    justify-content: center;
    
    
    
}
section h3 {
    margin-top: 5%;
}
.profile-form label {
    width: 150px;
}
.profile-form span {
    flex: 50%;
    gap: 20px;
}
.profile-form input {
    width: 300px;
    height: 35px;
    margin-right: 20px;
    
    
}
.profile-form input[type="text"]{
    border-radius: 10px;
    border: none;
    background-color: #d0aff5;
}