body{
    background-color: #FFFFFF;
    margin: 0;

}
.admin_main{
    left: 15%;
    top: 30px;
    position: relative;
    background-color: #FFFFFF;
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: auto;

}
/* Main Menu */
nav {
    width: 20%;
    position: absolute;
    background-color: #d0aff5;
    height: 100%;
    top: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
}
    
nav a{
    
    color: black;
    display: block;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Poppins';
    margin-left: 20px;

    

}
nav a:hover{
    background-color: #b17bef;
    border-radius: 30px 0 0 30px;
}

nav a:is(:link, :active, :visited).active {
    background-color: #6C429C;
}

nav .m_logo{
    width: 93%;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .menu_logo{
    width: 100px;
    height: 76px;
}

nav .m_logo:hover{
    background-color: #d0aff5;
    cursor: pointer;

}
/* admin header */

.admin_header{
    height: 75px;
    background-color: #FFFFFF;
    width: 87%;
    box-shadow: 0px 1px 5px grey ;
    margin-left: 200px;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.detail_heading {
    padding-left: 150px;
    flex-basis: 80%;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Poppins';
}
.admin_details {
    flex-basis: 25%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-right: 50px;

   
}

.admin_user_logo {
    width: 25px;
    height: 25px;
    padding-right: 50px;
    
}
.admin_name {
    font-size: 15px;
    font-weight: 500;
    font-family: 'Poppins';
    padding-left: 50px;
    margin-top: 2px;
    
}
.admin_details .dropdown_content {
    position: absolute;
    background-color: #b17bef;
    display: none;
    top: 60px;
    box-shadow: 0px 1px 5px black;



}
.admin_details .dropdown_content .dropdown_element {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.admin_details .dropdown_content img {
    width: 20px;
    height: 20px;
    margin-left: 10px;

}
.admin_details .dropdown_content a{
    text-decoration: none;
    color: #FFFFFF;
    padding-left: 2px;
    padding: 5px;
    
    width: 100px;
    text-align: center;
    
}
.admin_details:hover {
    cursor: pointer;
}

.admin_details:hover .dropdown_content {
    z-index: 1;
    display: flex;
    flex-direction: column;

}
.dropdown_content .dropdown_element:hover {
    background-color: #8C1BAB;
}

/* table*/
.details_table{
    width: 82%;
    margin-top: 30px;
    font-family: 'Poppins';
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 1px 5px grey;
}
.details_table tr th:nth-child(2) {
    width: 400px;
}
.details_table th{
    border-bottom: 1px solid black;
    padding: 10px;

}

.details_table tr td{
    border-right: 1px solid black;
}
.details_table .action_buttons {
    display:flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    border-right: none;
}
.details_table .action_buttons a {
    text-decoration: none;
    /*color: #FFFFFF;*/
    color: #FFFFFF;
    padding-right: 2px;
}
.btn {
    display: flex;
    border-radius: 5px;
    flex-direction: row;
    padding: 5px;
    gap: 5px;
    justify-content: center;
    align-content: center;
    box-shadow: 0px 1px 5px grey;
}
.details_table .action_buttons .btn_more{
    background: #087229;
 
}
.details_table .action_buttons .btn_delete{
    background: #ab212d;
}
.details_table .action_buttons .btn_update{
    background: #514fcd;

}
.details_table td {
    margin-top: 5px;
    padding: 1%;
    padding-right: 15px;
    text-align: center;
}

/* search */
.search_add .add-btn{
    background-color: #6C429C;
    padding: 1%;
    border-radius: 5px;
    box-shadow: 0px 1px 5px black;
    margin-left: 20%;

}
.search_add {
    display: flex;
    box-shadow: 0px 1px 5px grey;
    width: 79%;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;

}
.search_add a{
    text-decoration: none;
    font-family: 'Poppins';
    font-size: 15px;
    color: #FFFFFF;
    flex-basis: 200px;
    text-align: center;

}

.search {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins';
    
}
.search_customers{
    left: 0;
    font-family: 'Poppins';
    font-size: 17px;
    font-weight: 400;
    flex-basis: 30%;

}
.search input[type=search]{
    padding: 10px;
    border-radius: 10px;
    width: 350px;
    border: 1px solid black;

}
.search input[type=submit]{
    background-color: #6C429C;
    padding: 1.5%;
    border-radius: 5px;
    box-shadow: 0px 0.5px 3px grey;
    color: #FFFFFF;
}
.icon_search{
    width: 20px;
    height:20px;
    z-index: 1;
    position: absolute;
    left: 50%;

}
.search .btn_search {
    border: none;
    font-size: 15px;

}

/*  dashboard */
.users_summary {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
    font-size: 20px;
    width: 60vw;
    border-radius: 15px;


}
.users_summary .summary_heading{
    margin-left: 20px;
} 
.users_summary .summary_boxes{
    display: flex;
    flex-direction: row;
    padding: 15px;
    width: 58vw;
    justify-content: space-evenly;
} 
.summary_boxes .summary_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 0.5px 3px grey;
    width: 140px;
    font-size: 60px;
    height: 120px;
   
}
.summary_boxes .customers_num {
    display: flex;
    flex-direction: row;
}
.summary_boxes p{
    font-size: 15px;
    margin-top: 0;
    width: 130px;

}
.summary_box .customers_num .d_icon {
    margin-left: 40px;
    padding: 0;
    height: 70px;
}   

.summary_box .d_icon img {
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
}