img.mySlides {
    height: 230px;
    width: 250px;
}
.image{
    background-image: none;
}
.display-left,.display-right{
    background-color: #490258;
    width: 20px;
    border-radius: 5px;
    color: white;
    border: none;
    margin: 10px;
}
.display-right{
    float: right;
}
.product-title{
    margin: auto;
    width: 80%;
    margin-top: 10px;
}
.product-name{
    text-align: center;
    font-weight: bolder;
    font-size: 15px;
}
.product-cat{
    text-align: center;
    color: rgb(134, 134, 134);
}
.product-descript{
    margin:20px;
    margin-left: 10%;
}
.sm-all-p{
    display: flex;
    flex-direction: row;
    margin : 13px;
}
#custom-button-me{
  padding: 5px;
  color: rgb(0, 26, 255);
  text-decoration: underline;
  background-color: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;
  border: none;
}
.prof-all-p{
    display: flex;
    flex-direction: column;
    margin : 13px;
}
.prof-name-p{
    flex:30%;
    border-bottom: 1px rgb(238, 238, 238) solid;
    border-width: 50%;
    font-weight: bold;
}
.prof-all-e{
    display: flex;
    flex-direction: row;
    margin : 13px;
}
.prof-all-e button{
    flex: 1;
    
}
.custom-button-e{
  padding: 5px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;
  border: none;
  margin: 5px;
}
#ed{
  background-color: #490258;
}
#del{
  border: #490258 solid 1px;
  color: #490258;
}
.custom-button-e#ed:hover{
    background-color: #0a0a0a;
}
.custom-button-e#del:hover{
    background-color: #050505;
    border: #050505 solid 1px;
     color: white;
}
